@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Добро пожаловать!</h3>
    <p>Все больше людей начинают вести экологически осознанный образ жизни: ходят за продуктами с хлопковой сумкой, а не полиэтиленовым пакетом, просят налить кофе навынос в свою кружку, а не в одноразовый стаканчик, собирают мусор раздельно и сдают его на вторичную переработку. Но не все знают, что выбрасывать весь пластик в один контейнер не стоит, а крышки от бутылок лучше собирать отдельно.</p>
    <img src="https://t-i.ru/media/ckeditor/2018/04/28/trash2.png">
</div>
<div>
    <h3>Виды вторсырья:</h3>
    <ul>
        <li>
            <h6><a href="@Url.Action("Plastic", "Home")">Пластик</a></h6>
        </li>
        <li>
            <h6><a href="@Url.Action("Paper", "Home")">Макулатура</a></h6>
        </li>
        <li>
            <h6><a href="@Url.Action("Aluminum", "Home")">Алюминий</a></h6>
        </li>
    </ul>
</div>