@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Добро пожаловать!</h3>
    <p>Все больше людей начинают вести экологически осознанный образ жизни: ходят за продуктами с хлопковой сумкой, а не полиэтиленовым пакетом, просят налить кофе навынос в свою кружку, а не в одноразовый стаканчик, собирают мусор раздельно и сдают его на вторичную переработку. Но не все знают, что выбрасывать весь пластик в один контейнер не стоит, а крышки от бутылок лучше собирать отдельно.</p>
    <img src="https://t-i.ru/media/ckeditor/2018/04/28/trash2.png">
</div>
<div>
    <h3>Виды вторсырья:</h3>
    <ul>
        <li>
            <h6>@Html.ActionLink("Пластик", "Plastic")</h6>
        </li>
        <li>
            <h6>@Html.ActionLink("Макулатура", "Paper")</h6>
        </li>
        <li>
            <h6>@Html.ActionLink("Алюминий", "Aluminum")</h6>
        </li>
    </ul>
    
    <h3>@Html.ActionLink("Карта приёма вторсырья", "Get", "Map")</h3>
</div>