@{
    ViewData["Title"] = "Paper";
}

<div class="text-center">
    <h1 class="display-4">Макулатура</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR1PxJ-wM9TfQyjyc6562V7dtyzc8IIP-44eyk78ZJlGHjEscLf&usqp=CAU">

</div>

<div>
    <p>Макулатура — отходы всех видов бумаги и картона, пригодные для дальнейшего использования в качестве волокнистого сырья.</p>
    <p>Гофрокартон — это упаковочный материал, состоящий из склеенных бумажных слоев, как минимум один из которых представляет собой гофрированный (сложенный гармошкой) лист.</p>
    <h4>Классификация и особенности переработки макулатуры</h4>
    <p>Макулатура бывает разных видов. Классификация видов макулатуры на группы, марки и сорта обеспечивает взаимопонимание между поставщиками и потребителями макулатуры. Кроме этого, каждой марке макулатуры соответствует свое направление переработки.</p>
    <p>Есть более ценная макулатура, которую берут везде, а некоторые сорта, например, «яичные кассеты» принимают редко, потому что длина целлюлозного волокна у этого сорта уже совсем короткая. Укорочение целлюлозного волокна при каждой переработке определяет ограниченное количество циклов его переработки.</p>
    <h4>Какая макулатура принимается в переработку</h4>
    <ul>
        <li>картон, гофрокартон</li>
        <li>книги, глянцевые журналы, газеты, офисная бумага, тетради, почтовый спам, бумажная упаковка и т.д.</li>
        <li>шредерённая (измельчённая) бумага — принимается в пакетах или коробках</li>
        <li>яичные кассеты и аналоги — принимается не везде</li>
        <li>втулки — принимается не везде</li>
        <li>книжки-наклейки</li>
        <li>рисунки с гуашью, акварелью, с клеем, цветной бумагой, фломастерами, карандашами, мелками</li>
    </ul>
    <h4>Какая макулатура не принимается в переработку</h4>
    <ul>
        <li>упаковка от соков, молочных продуктов  — сдаётся отдельно как тетрапак</li>
        <li>грязная (жирная, масляная) макулатура — можно компостировать</li>
        <li>бумажные салфетки и полотенца</li>
        <li>ламинированная (на разрыв остаётся плёнка)</li>
        <li>пергаментная, бумага для выпечки, вощённая, калька</li>
        <li>бумажные стаканчики</li>
        <li>чеки, бумага для факсов</li>
        <li>фотобумага</li>
        <li>обои</li>
        <li>рисунки из мелков растопленных утюгом, рисунков из пластилина, картин масляными красками</li>
    </ul>
    <h4>Как подготовить макулатуру к сдаче</h4>
    <ul>
        <li>убедитесь в отсутствии ламинации (тонкой плёнки) — надорвите край изделия, если плёнка не тянется и не видна, то можно сдавать</li>
        <li>удалите металлические элементы — пружины, скрепки и тому подобное (скобы от степлера можно оставлять)</li>
        <li>удалите  пластиковые элементы — ручки у коробок, плёнку и файлы, пружины и тому подобное (скотч можно оставлять)</li>
        <li>объемные коробки сложите в плоские</li>
        <li>картон рекомендуется перевязать в плотные кипы или сложить в коробки</li>
        <li>если сдаёте в контейнер во дворе, в котором макулатура может разлететься или испачкаться — используйте плотный пакет</li>
    </ul>
</div>